 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2", align="justify">
                    <p>
                     This is Kaiming Cui. I am currently a Ph.D. student in astrophysics at the CAS Key Laboratory of Optical Astronomy, National Astronomical Observatories, Chinese Academy of Sciences (NAOC) and the University of Chinese Academy of Science (UCAS). 
                    </p>
                    <p><b>Research Interests</b></p>
                     <ul>
                      <li><p>Relationship between stellar magnetic activity and stellar fundamental parameters (e.g., rotation period, age, and metallicity).</p></li>
                      <li><p>Stellar activity and the affects on exoplanets (e.g., flare rate, starspots coverage).</p></li>
                      <li><p>Mining data and modeling light curves in photometric data (e.g., Kepler, K2, and TESS).</p></li>
                      <li><p>Detection, modeling and pulsation analysis of binary stars.</p></li>
                    </ul>

                    <p><b>Skills</b></p>
                    <ul>
                        <li><p>Photometry: PSF modeling</p></li>
                        <li><p>Spectroscopy: Echelle and slit spectra with Image Reduction and Analysis Facility (IRAF).</p></li>
                        <li><p>Eclipsing binary modeling: Wilson–Devinney code, PHOEBE.</p></li>
                        <li><p>Stellar evolution: Modules for Experiments in Stellar Astrophysics (MESA).</p></li>
                        <li><p>Asteroseismology: SigSpec, Period04 and GYRE.</p></li>
                        <li><p>Programming: Skilled in Python; familiar with C, C++, MATLAB, Mathematica; experience with R, Fortran, Julia.</p></li>
                        <li><p>Familiar with basic statistical methods in astrophysics, approaches to deal with large dataset, basic machine learning and deep learning methods, and Cloud-based Docker technique.</p></li>
                      </ul>
                      <p><b>Publications</b></p>
                      <p><div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0003-1535-5587" href="https://orcid.org/0000-0003-1535-5587" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0003-1535-5587</a></div></p>

                </div>
<!--                 <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>
