 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                     This is Kaiming Cui. I am currently a Ph.D. student in astrophysics at the CAS Key Laboratory of Optical Astronomy, National Astronomical Observatories, Chinese Academy of Sciences (NAOC) and the University of Chinese Academy of Science (UCAS). 
                    </p>
                    <p>
                     Research Interests
                     <ul>
                      <li><p>Relationship between stellar magnetic activity and stellar fundamental parameters (e.g., rotation period, age, and metallicity).</p></li>
                      <li><p>Stellar activity and the affects on exoplanets (e.g., flare rate, starspots coverage).</p></li>
                      <li><p>Mining data and modeling light curves in photometric data (e.g., Kepler, K2, and TESS).</p></li>
                      <li><p>Detection, modeling and pulsation analysis of binary stars.</p></li>
                    </ul>
                    </p>
                 
                </div>
<!--                 <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>
